tools/node-red-debug-subscriber-flow.json
[
  {
    "id": "caesar-debug-tab",
    "type": "tab",
    "label": "Caesar Debug Subscriber",
    "disabled": false,
    "info": "Subscribes to retained Front and Back firmware JSON output."
  },
  {
    "id": "caesar-front-mqtt-in",
    "type": "mqtt in",
    "z": "caesar-debug-tab",
    "name": "FRONT dataA",
    "topic": "dataA/IOTHP-BP/91c21b8614cd",
    "qos": "0",
    "datatype": "utf8",
    "broker": "caesar-debug-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 100,
    "wires": [
      [
        "caesar-front-json"
      ]
    ]
  },
  {
    "id": "caesar-front-json",
    "type": "json",
    "z": "caesar-debug-tab",
    "name": "Parse FRONT JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 100,
    "wires": [
      [
        "caesar-front-debug",
        "caesar-front-prepare"
      ]
    ]
  },
  {
    "id": "caesar-front-prepare",
    "type": "function",
    "z": "caesar-debug-tab",
    "name": "Prepare FRONT SQLite row",
    "func": "const data = msg.payload;\nconst WIB_OFFSET_MS = 7 * 60 * 60 * 1000;\nfunction value(name) {\n  return Object.prototype.hasOwnProperty.call(data, name) ? data[name] : null;\n}\nmsg.params = {\n  $layer: \"FRONT\",\n  $cycle: value(\"cycle\"),\n  $output: value(\"output\"),\n  $ok: value(\"ok\"),\n  $ng: value(\"ng\"),\n  $quota: value(\"quota\"),\n  $isi: value(\"isi\"),\n  $target: value(\"target\"),\n  $model: value(\"model\"),\n  $lot: value(\"lot\"),\n  $operator_name: value(\"operator\"),\n  $operator_id: value(\"operator_id\"),\n  $start_time: value(\"startTime\"),\n  $finish_time: value(\"finishTime\"),\n  $received_at: new Date(Date.now() + WIB_OFFSET_MS).toISOString().replace(\"Z\", \"+07:00\")\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 140,
    "wires": [
      [
        "caesar-front-insert"
      ]
    ]
  },
  {
    "id": "caesar-front-insert",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "prepared",
    "sql": "INSERT INTO cycle_data (layer, cycle, output, ok, ng, quota, isi, target, model, lot, operator_name, operator_id, start_time, finish_time, received_at) VALUES ($layer, $cycle, $output, $ok, $ng, $quota, $isi, $target, $model, $lot, $operator_name, $operator_id, $start_time, $finish_time, $received_at)",
    "name": "Save FRONT SQLite",
    "x": 950,
    "y": 140,
    "wires": []
  },
  {
    "id": "caesar-db-columns",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "fixed",
    "sql": "PRAGMA table_info(cycle_data)",
    "name": "Check SQLite columns",
    "x": 700,
    "y": 320,
    "wires": [
      [
        "caesar-db-add-operator-id"
      ]
    ]
  },
  {
    "id": "caesar-db-add-operator-id",
    "type": "function",
    "z": "caesar-debug-tab",
    "name": "Add operator_id if missing",
    "func": "if (msg.payload.some((column) => column.name === \"operator_id\")) {\n  return null;\n}\nmsg.topic = \"ALTER TABLE cycle_data ADD COLUMN operator_id INTEGER\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 950,
    "y": 320,
    "wires": [
      [
        "caesar-db-migrate-operator-id"
      ]
    ]
  },
  {
    "id": "caesar-db-migrate-operator-id",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Add operator_id column",
    "x": 1210,
    "y": 320,
    "wires": []
  },
  {
    "id": "caesar-front-debug",
    "type": "debug",
    "z": "caesar-debug-tab",
    "name": "FRONT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 100,
    "wires": []
  },
  {
    "id": "caesar-back-mqtt-in",
    "type": "mqtt in",
    "z": "caesar-debug-tab",
    "name": "BACK dataB",
    "topic": "dataB/IOTHP-BP/91c21b8614cd",
    "qos": "0",
    "datatype": "utf8",
    "broker": "caesar-debug-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 200,
    "wires": [
      [
        "caesar-back-json"
      ]
    ]
  },
  {
    "id": "caesar-back-json",
    "type": "json",
    "z": "caesar-debug-tab",
    "name": "Parse BACK JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 200,
    "wires": [
      [
        "caesar-back-debug",
        "caesar-back-prepare"
      ]
    ]
  },
  {
    "id": "caesar-back-prepare",
    "type": "function",
    "z": "caesar-debug-tab",
    "name": "Prepare BACK SQLite row",
    "func": "const data = msg.payload;\nconst WIB_OFFSET_MS = 7 * 60 * 60 * 1000;\nfunction value(name) {\n  return Object.prototype.hasOwnProperty.call(data, name) ? data[name] : null;\n}\nmsg.params = {\n  $layer: \"BACK\",\n  $cycle: value(\"cycle\"),\n  $output: value(\"output\"),\n  $ok: value(\"ok\"),\n  $ng: value(\"ng\"),\n  $quota: value(\"quota\"),\n  $isi: value(\"isi\"),\n  $target: value(\"target\"),\n  $model: value(\"model\"),\n  $lot: value(\"lot\"),\n  $operator_name: value(\"operator\"),\n  $operator_id: value(\"operator_id\"),\n  $start_time: value(\"startTime\"),\n  $finish_time: value(\"finishTime\"),\n  $received_at: new Date(Date.now() + WIB_OFFSET_MS).toISOString().replace(\"Z\", \"+07:00\")\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 240,
    "wires": [
      [
        "caesar-back-insert"
      ]
    ]
  },
  {
    "id": "caesar-back-insert",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "prepared",
    "sql": "INSERT INTO cycle_data (layer, cycle, output, ok, ng, quota, isi, target, model, lot, operator_name, operator_id, start_time, finish_time, received_at) VALUES ($layer, $cycle, $output, $ok, $ng, $quota, $isi, $target, $model, $lot, $operator_name, $operator_id, $start_time, $finish_time, $received_at)",
    "name": "Save BACK SQLite",
    "x": 950,
    "y": 240,
    "wires": []
  },
  {
    "id": "caesar-db-init-inject",
    "type": "inject",
    "z": "caesar-debug-tab",
    "name": "Initialize SQLite table",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 320,
    "wires": [
      [
        "caesar-db-init"
      ]
    ]
  },
  {
    "id": "caesar-db-init",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "fixed",
    "sql": "CREATE TABLE IF NOT EXISTS cycle_data (id INTEGER PRIMARY KEY AUTOINCREMENT, layer TEXT NOT NULL, cycle INTEGER, output INTEGER, ok INTEGER, ng INTEGER, quota INTEGER, isi INTEGER, target INTEGER, model TEXT, lot TEXT, operator_name TEXT, operator_id INTEGER, start_time TEXT, finish_time TEXT, received_at TEXT NOT NULL)",
    "name": "Create cycle_data table",
    "x": 460,
    "y": 320,
    "wires": [
      [
        "caesar-db-init-downtime"
      ]
    ]
  },
  {
    "id": "caesar-db-init-downtime",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "fixed",
    "sql": "CREATE TABLE IF NOT EXISTS downtime_data (id INTEGER PRIMARY KEY AUTOINCREMENT, layer TEXT NOT NULL, reason TEXT NOT NULL, start_time TEXT NOT NULL, clear_time TEXT, received_at TEXT NOT NULL)",
    "name": "Create downtime_data table",
    "x": 700,
    "y": 320,
    "wires": [
      [
        "caesar-db-init-ng"
      ]
    ]
  },
  {
    "id": "caesar-db-init-ng",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "fixed",
    "sql": "CREATE TABLE IF NOT EXISTS ng_data (id INTEGER PRIMARY KEY AUTOINCREMENT, layer TEXT NOT NULL, ng_type TEXT NOT NULL, ng_count INTEGER NOT NULL, operator_id INTEGER, operator_name TEXT, lot TEXT, received_at TEXT NOT NULL)",
    "name": "Create ng_data table",
    "x": 930,
    "y": 320,
    "wires": [
      [
        "caesar-db-columns"
      ]
    ]
  },
  {
    "id": "caesar-sqlite-install-note",
    "type": "comment",
    "z": "caesar-debug-tab",
    "name": "Install node-red-node-sqlite before deploying this flow",
    "info": "Menu > Manage Palette > Install > node-red-node-sqlite",
    "x": 340,
    "y": 380,
    "wires": []
  },
  {
    "id": "caesar-back-debug",
    "type": "debug",
    "z": "caesar-debug-tab",
    "name": "BACK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 200,
    "wires": []
  },
  {
    "id": "caesar-event-mqtt-in",
    "type": "mqtt in",
    "z": "caesar-debug-tab",
    "name": "EVENT",
    "topic": "event/IOTHP-BP/91c21b8614cd",
    "qos": "0",
    "datatype": "utf8",
    "broker": "caesar-debug-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 420,
    "wires": [
      [
        "caesar-event-json"
      ]
    ]
  },
  {
    "id": "caesar-event-json",
    "type": "json",
    "z": "caesar-debug-tab",
    "name": "Parse Event JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 430,
    "y": 420,
    "wires": [
      [
        "caesar-event-route"
      ]
    ]
  },
  {
    "id": "caesar-event-route",
    "type": "function",
    "z": "caesar-debug-tab",
    "name": "Route Event",
    "func": "const data = msg.payload;\nconst WIB_OFFSET_MS = 7 * 60 * 60 * 1000;\nconst receivedAt = new Date(Date.now() + WIB_OFFSET_MS).toISOString().replace(\"Z\", \"+07:00\");\nif (data.event === \"downtime_start\") {\n  msg.params = { $layer: data.layer, $reason: data.reason, $start_time: data.timestamp, $received_at: receivedAt };\n  return [msg, null, null];\n}\nif (data.event === \"downtime_clear\") {\n  msg.params = { $clear_time: data.timestamp, $layer: data.layer };\n  return [null, msg, null];\n}\nif (data.event === \"ng_submit\") {\n  msg.params = { $layer: data.layer, $ng_type: data.ng_type, $ng_count: data.ng_count, $operator_id: data.operator_id ?? null, $operator_name: data.operator_name ?? null, $lot: data.lot ?? null, $received_at: receivedAt };\n  return [null, null, msg];\n}\nreturn null;",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 420,
    "wires": [
      [
        "caesar-dt-start-insert"
      ],
      [
        "caesar-dt-clear-update"
      ],
      [
        "caesar-ng-insert"
      ]
    ]
  },
  {
    "id": "caesar-dt-start-insert",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "prepared",
    "sql": "INSERT INTO downtime_data (layer, reason, start_time, received_at) VALUES ($layer, $reason, $start_time, $received_at)",
    "name": "Save Downtime Start",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "caesar-dt-clear-update",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "prepared",
    "sql": "UPDATE downtime_data SET clear_time = $clear_time WHERE id = (SELECT id FROM downtime_data WHERE layer = $layer AND clear_time IS NULL ORDER BY id DESC LIMIT 1)",
    "name": "Clear Downtime",
    "x": 960,
    "y": 420,
    "wires": []
  },
  {
    "id": "caesar-ng-insert",
    "type": "sqlite",
    "z": "caesar-debug-tab",
    "mydb": "caesar-debug-db",
    "sqlquery": "prepared",
    "sql": "INSERT INTO ng_data (layer, ng_type, ng_count, operator_id, operator_name, lot, received_at) VALUES ($layer, $ng_type, $ng_count, $operator_id, $operator_name, $lot, $received_at)",
    "name": "Save NG Event",
    "x": 950,
    "y": 460,
    "wires": []
  },
  {
    "id": "caesar-debug-db",
    "type": "sqlitedb",
    "db": "C:\\sqlite-data\\caesar.db",
    "mode": "RWC"
  },
  {
    "id": "caesar-debug-broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Caesar Debug",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
